altgraph==0.17.4
chardet==5.2.0
graphviz==0.20.3
macholib==1.16.3
Markdown==3.7
packaging==24.1
pillow==10.4.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.15
PyYAML==6.0.2
reportlab==4.2.5
setuptools==75.1.0
